/* About Page Styles */
.main {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: center; */
    /* margin: 2.5rem auto 0 auto; */
    background: var(--color-bg-main);
    /* overflow: hidden; */
    /* box-shadow: 0 2px 16px rgba(0, 0, 0, 0.03); */
}

.aboutContent {
    flex: 1.5;
    padding: 2.5rem 2rem 2.5rem 2.5rem;
    display: flex;
    flex-direction: column;
}

#aboutTitle {
    color: var(--color-bg-main);
    background: var(--color-bg-accent);
}

.aboutSubtitle {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-extra-bold);
    color: var(--color-text-main);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.aboutText {
    color: var(--color-text-main);
    font-size: var(--font-size-text);
    margin: 40px auto;
    line-height: 1.6;
}

.aboutBtn {
    background: var(--color-primary);
    color: var(--color-text-main);
    margin-left: auto;
    margin-right: auto;
}

.aboutBtn:hover {
    background: var(--color-bg-accent);
    color: var(--color-white);
}

@media (max-width: 600px) {
    .aboutSection {
        grid-template-columns: 1fr;
    }

    .aboutSection div {
        order: 2;
    }

    .aboutSection .aboutContent {
        order: 1;
    }

    .aboutSection .aboutContent .aboutBtn {
        order: 3;
    }

    .aboutContent {
        padding: 1rem;
    }

    #aboutTitle {
        padding: 40px;
        margin-bottom: 40px ;
    }

    .aboutSubtitle, .aboutText {
        padding: 0 20px;
    }
}