.container {
    padding: 2rem;
}

.formSection {
    margin-bottom: 2rem;
    background: #fff;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    align-items: center;

    & div button {
        margin: 10px;
    }
}

.form input,
.form select {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.listItem {
    /* justify-content: space-between; */
    padding: 0.5rem 0.25rem;
    border-bottom: 1px solid #eee;
}

.success {
    color: green;
}

.error {
    color: red;
}

@media (max-width: 500px) {
    .form {
        grid-template-columns: 1fr;
    }
}