/* colors.css - Color variables for the project */
:root {
    --color-bg-main: #F7E0B6;
    --color-bg-main-shade: #FDF9EF;
    --color-bg-header: #E9D2A6;
    --color-bg-accent: #7B7B4B;
    --color-bg-card: #D9C7A0;
    --color-primary: #B36A00;
    --color-primary-dark: #8A4C00;
    --color-text-main: #1D3A36;
    --color-text-main2: #0A1A17;
    --color-link: #646CFF;
    --color-link-hover: #535BF2;
    --color-border: #BDB076;
    --color-border-shade: #AA9356;
    --color-white: #FFFFFF;
}