@import './styles/utils/colors.css';
@import './styles/utils/typography.css';
@import './styles/utils/global.css';

a {
  font-weight: var(--font-weight-medium);
  color: var(--color-primary-dark);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-primary);
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-heading);
}