.main {
    min-height: 100vh;
    background: var(--color-bg-main);
    display: block;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to bottom , var(--color-bg-main), var(--color-bg-main-shade));
    box-shadow: inset 0 -100px var(--color-border);
    overflow: hidden;
    padding-bottom: 20px;
}

.info {
    flex: 1;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.info h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-extra-bold);
    color: var(--color-text-main);
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}

.info hr {
    width: 100%;
    margin: 1rem 0;
    border: none;
    border-top: 2px solid var(--color-primary-dark);
}

.roles {
    color: var(--color-text-main);
    font-size: 1.1rem;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.cta {
    align-self: flex-end;
    padding: 0.9rem 2.2rem;
    background-color: var(--color-primary);
    font-size: var(--font-weight-extra-bold);
}

.cta:hover {
    background: var(--color-primary-dark);
}

.imageWrapper {
    flex: 1;
    /* background: linear-gradient(to right, var(--color-bg-main) 40%, var(--color-bg-accent) 0); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.imagePlaceholder {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* clip-path: polygon(0% 0, 100% 0, 100% 100%, 20% 100%); */
}

.imageFill {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 600px) {
    .hero {
        padding-top: 50px;
        flex-direction: column;
        align-items: center;
    }

    .info {
        padding: 1rem;
        text-align: center;
    }

    .info h1 {
        font-size: 4rem;
    }

    .cta {
        align-self: center;
    }

    .imageWrapper {
        width: 100%;
        min-height: 100%;
        background: none;
    }

    .imagePlaceholder {
        height: 50%;
        border-radius: 10px;
        clip-path: none;
    }
}

/* Page Break Section */
.pageBreak {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pageBreak h2,
.pageBreak blockquote {
    text-align: left;
}

.pageBreak p {
    font-size: var(--font-size-pageBreak);
    text-align: left;
}

.pageBreak blockquote {
    display: flex;
    align-items: center;
}

.pageBreak blockquote::before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 50px;
    background-color: var(--color-primary-dark);
    margin-right: 20px;
}

.cardsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cardsGrid .card {
    display: grid;
    grid-template-columns: .1fr 1fr;
    gap: 15px;
}

.cardsGrid .card div {
    text-align: left;
}

.cardsGrid .card div h4 {
    padding-top: 5px;
}

.cardsGrid .card div p {
    font-size: var(--font-size-text);
}

.edit {
    font-size: 90%;
    color: var(--color-primary-dark);
}

@media (max-width: 600px) {
    .cardsGrid {
        grid-template-columns: 1fr;
    }

    .pageBreak h2,
    .pageBreak blockquote {
        text-align: center;
    }

    .pageBreak blockquote::before {
        height: 100px;
    }
}


/* Sobre Section */
.sobreSection {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin: 1rem auto 0 auto;
    overflow: hidden;
    background: linear-gradient(to bottom , var(--color-bg-main), var(--color-bg-main-shade));
}

.sobreContent {
    display: flex;
    flex: 1.5;
    flex-direction: column;
    justify-content: initial;
    padding: 5rem 2rem 2.5rem 2.5rem;
}

#sobreTitle {
    color: var(--color-text-main);
    /* background: var(--color-primary); */
    padding-bottom: 40px;
}

.sobreText {
    color: var(--color-text-main);
    font-size: var(--font-size-text);
    margin-bottom: 3rem;
    line-height: 1.6;
}

.artistStats {
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
}

.artistStats .statItem {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.statNumber {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-extra-bold);
}

.sobreBtn {
    align-self: center;
    background: var(--color-bg-accent);
    color: var(--color-white);
    letter-spacing: 1px;
}

.sobreBtn:hover {
    background: var(--color-text-main);
}

@media (max-width: 820px) {
    .sobreText {
        margin-bottom: 1rem;
    }

    .artistStats {
        display: grid;
        justify-content: center;
    }
}

@media (max-width: 600px) {

    .sobreSection,
    .artistStats {
        flex-direction: column;
        align-items: center;
    }

    .sobreImageWrapper {
        justify-content: center;
        order: 2;
    }

    .sobreImage {
        object-position: 0px -80px;
    }

    .sobreContent {
        padding: 0px 0px;
        order: 1;
    }

    .sobreText {
        text-align: center;
    }

    #sobreTitle {
        padding: 40px;
    }
}

/* Numeros que Contam */
.numerosContam {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
}

.statsContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-top: 40px;
    max-width: 800px;
    margin: 0 auto;
}

.numerosContam .statItem {
    display: flex;
    width: 300px;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    gap: 10px;
}

.statItemFull {
    justify-self: center;
    grid-column: 1 / -1;
}

.numerosContam .statNumber {
    font-size: var(--font-size-h2-pb);
}

.numerosContam .statLabel {
    font-size: var(--font-size-h4);
    font-weight: var(--font-weight-bold);
}

.statDescription {
    font-size: var(--font-size-h4);
}

.numerosContam p {
    font-size: var(--font-size-h4);
    padding-top: 20px;
}

.maisQueSomImg {
    display: inline-block;
    vertical-align: top;
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: 0px -100px;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 20% 100%);
}

@media (max-width: 820px) {
    .numerosContam {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .maisQueSomImg {
        clip-path: none;
    }
}

@media (max-width: 600px) {
    .numerosContam {
        margin: 20px auto;
    }

    .numerosContam h2,
    .sobreContent h2 {
        font-size: 2.7rem;
    }

    .numerosContam,
    .statsContainer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .numerosContam .statItem {
        width: 100%;
        padding: 10px;
    }

    .statItemFull {
        grid-column: auto;
    }

    .numerosContam p {
        padding-bottom: 40px;
    }

    .maisQueSomImg {
        object-position: 0px -50px;
    }
}